<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Francisco's Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 
        Rectangle Template 
        http://www.templatemo.com/preview/templatemo_439_rectangle
    	-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="site-bg"></div>
        <div class="site-bg-overlay"></div>

        <!-- TOP HEADER -->
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="phone-info">Call me: <a href="#">939-251-4425</a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="social-icons">
                            <ul>
                                <li><a href="https://www.linkedin.com/in/francisco-burgos-28804591/" class="fa fa-linkedin"></a></li>
                                <li><a href="https://www.github.com/dabo02" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .top-header -->


        <div class="visible-xs visible-sm responsive-menu">
            <a href="#" class="toggle-menu">
                <i class="fa fa-bars"></i> Show Menu
            </a>
            <div class="show-menu">
                <ul class="main-menu">
                    <li>
                        <a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a class="show-2 aboutbutton" href="#"><i class="fa fa-user"></i>About Me</a>
                    </li>
                    <li>
                        <a class="show-3 projectbutton" href="#"><i class="fa fa-microchip"></i>Projects</a>
                    </li>
                    <li>
                        <a class="show-5 contactbutton" href="#"><i class="fa fa-envelope"></i>Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container" id="page-content">
            <div class="row">


                
                <div class="col-md-9 col-sm-12 content-holder">
                    <!-- CONTENT -->
                    <div id="menu-container">
                        
                        <div class="logo-holder logo-top-margin">
                            <a href="#" class="site-brand"><img src="/static/images/logo.png" alt=""></a>
                        </div>
                        
                        
                        <div id="menu-1" class="homepage home-section text-center">
                            <div class="welcome-text">
                                <h2><strong>Francisco Burgos Collazo</strong></h2>
                                <p><strong>Hello, looking for services like Linux system administration, server automation, home automation,
                                IoT developing, web page design, controls systems design, SIP and VOIP services? Then you've come to the right place.
                                With a Bachelor's in Science in Electrical Engineering majoring in Control Systems and a solid background in software development, I
                                will help you take your ideas for your next project to the next level. I will make it my mission to guarantee customer satisfaction by
                                meeting your deadlines with stunningly fast deliverable rates. I am able to provide knowledge by either doing freelance projects and/or
                                professional consulting. My technical skills along with my designing skills enable me to consult in the areas of microprocessors,
                                control systems, electrical systems, home automation, server automation, IoT, programming, among others. It would be an honor to provide my
                                    services to help a company or individual attain its goals and make ideas a tangible thing.</strong></p>
                                <p><strong>For more info contact me via email under the 'Contact Me' Block</strong></p>
                                <p><strong>Best Regards</strong></p>
                                <p><strong>Francisco Burgos B.S.EE</strong></p>
                            </div>
                        </div>

                        <div id="menu-2" class="content about-section">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <div class="box-content profile">
                                        <h3 class="widget-title">Learn about me</h3>
                                        <div class="profile-thumb">
                                            <img src="/static/images/Me.jpg" alt="">
                                        </div>
                                        <div class="profile-content">
                                            <h5 class="profile-name">Francisco Burgos</h5>
                                            <span class="profile-role">Controls Specialist/Software Developer</span>
                                            <p>Take a look at my git at <a rel="nofollow" href="https://github.com/dabo02">github.com/dabo02</a>. Also, take a look at my <a class="project-link" href="#">Projects</a><br><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="box-content">
                                        <h3 class="widget-title">Contact Info</h3>
                                        <p>Phone: 939-251-4425</p>
                                        <p>Email: <a href="mailto:dabo021213@gmail.com">dabo021213@gmail.com</a></p>
                                        <p>2nd Email: <a href="mailto:dabo_02@live.com">dabo_02@live.com</a></p>
                                        <div class="about-social">
                                            <ul>
                                                <li><a href="https://www.linkedin.com/in/francisco-burgos-28804591/" class="fa fa-linkedin"></a></li>
                                                <li><a href="https://www.github.com/dabo02" class="fa fa-github"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="box-content">
                                        <h3 class="widget-title">Resume</h3>
                                        <div class="project-item">
                                            <a href="/static/Documents/Resume.pdf"><img src="/static/images/1.png" alt=""></a>
                                            <div class="project-hover">
                                                <h4>My Resume</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <div class="box-content">
                                        <h3 class="widget-title">My Technical Skills</h3>
                                        <ul class="progess-bars">
                                            <li>
                                                <span>HTML CSS</span>
                                            </li>
                                            <li>
                                                <span>Python</span>
                                            </li>
                                            <li>
                                                <span>Node.JS</span>
                                            </li>
                                            <li>
                                                <span>SIP</span>
                                            </li>
                                            <li>
                                                <span>Linux</span>
                                            </li>
                                            <li>
                                                <span>Control System Design</span>
                                            </li>
                                            <li>
                                                <span>BBB, Raspi, Arduino</span>
                                            </li>
                                            <li>
                                                <span>Javascript</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="menu-3" class="content gallery-section">
                            <div class="box-content">
                                <h3 class="widget-title">Past Projects</h3>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="/static/Documents/Capstone.pdf"><img src="/static/images/1.png" alt=""></a>
                                            <div class="project-hover">
                                                <h4>Capstone Project</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="https://github.com/dabo02/lazyScraper"><img src="/static/images/scraper.jpg" alt=""></a>
                                            <div class="project-hover">
                                                <button class="btn-link" data-target="#WebScraper" data-toggle="modal"><h4>Web Scraper for PDF files</h4></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="https://github.com/dabo02/Portfolio"><img src="/static/images/site-ss.png" alt=""></a>
                                            <div class="project-hover">
                                                <a href="https://github.com/dabo02/Portfolio"><h4>This Site Project</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="https://github.com/dabo02/Upwork_Tom_VideoShowroom"><img src="/static/images/RPi.jpg" alt=""></a>
                                            <div class="project-hover">
                                                <button class="btn-link" data-target="#RPiDesc" data-toggle="modal"><h4>Video Showroom</h4></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="/video_chat"><img src="/static/images/video-call.jpg" alt=""></a>
                                            <div class="project-hover">
                                                <button class="btn-link" data-target="#VideoChatDesc" data-toggle="modal"><h4>Try the Simple Video Call</h4></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="https://github.com/dabo02/sip-server"><img src="/static/images/2.jpg" alt=""></a>
                                            <div class="project-hover">
                                                <h4>Voip Push Sip Server</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="project-pages">-->
                                    <!--<ul>-->
                                        <!--<li><a href="#">1</a></li>-->
                                        <!--<li><a href="#">2</a></li>-->
                                        <!--<li><a href="#">3</a></li>-->
                                        <!--<li><a href="#">...</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div id="menu-4" class="content contact-section">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <div class="box-content">
                                        <h3 class="widget-title">Send Us A Message</h3>
                                        <form class="contact-form" method="post" action="{{ url_for('send_email') }}">
                                            <fieldset>
                                                <input name="name" type="text" class="name" id="name" placeholder="Name...">
                                            </fieldset> 
                                            <fieldset>
                                                <input name="email" type="email" class="email" id="email" placeholder="Email...">
                                            </fieldset> 
                                            <fieldset>
                                                <input name="subject" type="text" class="subject" id="subject" placeholder="Subject...">
                                            </fieldset>
                                            <fieldset>
                                                <textarea name="message" id="message" cols="30" rows="4" placeholder="Message.."></textarea>
                                            </fieldset>
                                            <fieldset>
                                                <input type="submit" class="button" id="button" value="Send Message">
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="box-content">
                                        <h3 class="widget-title">Stay In Touch</h3>
                                        <p>For further questions fillout this form so I can receive an email with your information and possibly coordinate an interview. You can also contact
                                            me directly at any of these emails: <a href="mailto:dabo021213@gmail.com">dabo021213@gmail.com</a> or <a href="mailto:dabo_02@live.com">dabo_02@live.com</a></p>
                                        <div class="about-social">
                                            <ul>
                                                <li><a href="https://www.linkedin.com/in/francisco-burgos-28804591/" class="fa fa-linkedin"></a></li>
                                                <li><a href="#" class="fa fa-github"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-md-3 hidden-sm">
                    
                    <nav id="nav" class="main-navigation hidden-xs hidden-sm">
                        <ul class="main-menu">
                            <li>
                                <a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a class="show-2 aboutbutton" href="#"><i class="fa fa-user"></i>About Me</a>
                            </li>
                            <li>
                                <a class="show-3 projectbutton" href="#"><i class="fa fa-microchip"></i>Projects</a>
                            </li>
                            <li>
                                <a class="show-5 contactbutton" href="#"><i class="fa fa-envelope"></i>Contact Me</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>

        <!-- Web Scraper Modal -->
        <div class="modal fade" id="WebScraper" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Lazyscraper PDF web scraper</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">This side project is just a simple web scraper which scrapes <a href="http://www.allitebooks.com">allitebooks</a> and downloads pdf books for a given query.
                            This project started because I have an insatiable thirst for knowledge and allitebooks has been my #1 source for finding a book for any programming related topic. I'd spend
                            hours downloading books so I decided to automate that function form me, and the lazyScraper was created. Consisting of only a few lines of code the scraper will make a request
                            with a user defined query and will navigate through all the links of the results to download each book related to the query's topic.</p>
                        <p>The scraping is done using beautifulsoup which is a library for xml and html parsing for python 2 and 3. This project is available
                            <a href="https://github.com/dabo02/Upwork_Tom_VideoShowroom">here</a> or by clicking on the image above the description button that opened this dialog.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div> <!-- /Web Scraper Modal -->

        <!-- Video Showroom Modal -->
        <div class="modal fade" id="RPiDesc" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Video Showroom</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">This was a freelancing project which involved playing an HD video and turning off everytime a door closed. The client
                            made a 45&deg; inclined box with a door that turns on a light when open and on which the viewer sits. Once inside the door
                            closes and the 1'&times;1' LED lamp turns off and the video starts. A raspberry was used for this project since it can render
                            1080p HD video and uses a Debian based linux OS which I could use to my advantage.</p>

                        <p>I decided to create a web interface on which the client could control most aspects of the system such as: </p>
                        <ul style="display: list-item">
                            <li><p> Reboot RPi</p> </li>
                            <li><p> Shutdown RPi</p> </li>
                            <li><p> Upload videos</p> </li>
                            <li><p> Delete videos</p> </li>
                            <li><p> Preview videos</p> </li>
                            <li><p> Change current video</p> </li>
                            <li><p> Test lighting</p> </li>
                            <li><p> Start GPIO polling</p> </li>
                            <li><p> Review documentation and contact info</p> </li>
                        </ul>
                        <p>For this task I used the web microframework <a href="http://flask.pocoo.org/">Flask</a> for the back-end routing and
                            a <a href="http://www.celeryproject.org/">Celery</a> worker to take care of the GPIO polling.</p>
                        <p>Now, for the server to be accesible as an offline interface I created a wi-fi hotspot on the raspberry pi using
                            <strong><i>iptables, hostapd, and dnsmasq</i></strong>. This enabled the client to access the server by connecting to the pi's wi-fi and
                            navegating to the pi's static ip on his browser.</p>
                        <p>Also, since the client did not have much knowledge using unix based systems, a startup script was implemented using bash. This script
                            was then moved to the init.rd folder and, through LSB headers, set to start after the Desktop interface has started. The client was then
                            able to connect to the pi using the method descriped on the last paragraph.</p>
                        <p> As for the elements used to wire the project a relay and limit switch controlled the output of the light and video. The relay isolated
                            the 120V of the power outlet from the 5V raspberry pi output while the snap action limit switch controlled the relay's state. This project
                            is available <a href="https://github.com/dabo02/Upwork_Tom_VideoShowroom">here</a> or by clicking on the image above the description button that opened this dialog.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div> <!-- /Video Showroom Modal -->

        <!-- Video Call Modal -->
        <div class="modal fade" id="VideoChatDesc" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Video Call Description</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">This is a simple video call on which we can have either customer service or a simple meeting for
                        interview/requirements processes. When ready, click on the phone image above the button you just clicked to open this
                        dialog window or click <a href="/video_chat">here</a>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div> <!-- /Video Showroom Modal -->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link rel="stylesheet" href="/static/components/fortawesome/font-awesome/v4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/templatemo-style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
		<!-- templatemo 439 rectangle -->
    </body>
</html>