<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Francisco's Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 
        Rectangle Template 
        http://www.templatemo.com/preview/templatemo_439_rectangle
    	-->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link rel="stylesheet" href="/static/components/fortawesome/font-awesome/v4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/templatemo-style.css">
        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="site-bg"></div>
        <div class="site-bg-overlay"></div>

        <!-- TOP HEADER -->
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="phone-info">Call me: <a href="#">939-251-4425</a></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="social-icons">
                            <ul>
                                <li><a href="https://www.linkedin.com/in/francisco-burgos-28804591/" class="fa fa-linkedin"></a></li>
                                <li><a href="https://www.github.com/dabo02" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .top-header -->


        <div class="visible-xs visible-sm responsive-menu">
            <a href="#" class="toggle-menu">
                <i class="fa fa-bars"></i> Show Menu
            </a>
            <div class="show-menu">
                <ul class="main-menu">
                    <li>
                        <a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a class="show-2 aboutbutton" href="#"><i class="fa fa-user"></i>About Me</a>
                    </li>
                    <li>
                        <a class="show-3 projectbutton" href="#"><i class="fa fa-microchip"></i>Projects</a>
                    </li>
                    <li>
                        <a class="show-5 contactbutton" href="#"><i class="fa fa-envelope"></i>Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container" id="page-content">
            <div class="row">


                
                <div class="col-md-9 col-sm-12 content-holder">
                    <!-- CONTENT -->
                    <div id="menu-container">
                        
                        <div class="logo-holder logo-top-margin">
                            <a href="#" class="site-brand"><img src="/static/images/logo.png" alt=""></a>
                        </div>
                        
                        
                        <div id="menu-1" class="homepage home-section text-center">
                            <div class="welcome-text">
                                <h2><strong>Francisco Burgos Collazo</strong></h2>
                                <p><strong>Hi</strong>, I possess a Bachelor's in Science in Electrical Engineering majoring in Control Systems. Also, I have continued education
                                & proven experience as a software developer. My mission is to continue gaining experience in a cooperative team environment, excelling in leadership skills,
                                and to provide knowledge by freelance projects and/or professional consulting. My technical skills along with my designing skills enable be to consult in the
                                areas of microprocessors, control systems, electrical systems, home automation, server automation, IoT and programming. It would be an honor to provide my
                                services to help a company or individual attain its goals for the next project.</p>
                                <p><strong>Best Regards</strong></p>
                                <p><strong>Francisco Burgos B.S.EE</strong></p>
                            </div>
                        </div>

                        <div id="menu-2" class="content about-section">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <div class="box-content profile">
                                        <h3 class="widget-title">Learn about me</h3>
                                        <div class="profile-thumb">
                                            <img src="/static/images/Me.jpg" alt="">
                                        </div>
                                        <div class="profile-content">
                                            <h5 class="profile-name">Francisco Burgos</h5>
                                            <span class="profile-role">Controls Specialist/Software Developer</span>
                                            <p>Take a look at my git at <a rel="nofollow" href="https://github.com/dabo02">github.com/dabo02</a>. Also, take a look at my <a class="project-link" href="#">Projects</a><br><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="box-content">
                                        <h3 class="widget-title">Contact Info</h3>
                                        <p>Phone: 939-251-4425</p>
                                        <p>Email: <a href="mailto:dabo021213@gmail.com">dabo021213@gmail.com</a></p>
                                        <p>2nd Email: <a href="mailto:dabo_02@live.com">dabo_02@live.com</a></p>
                                        <div class="about-social">
                                            <ul>
                                                <li><a href="https://www.linkedin.com/in/francisco-burgos-28804591/" class="fa fa-linkedin"></a></li>
                                                <li><a href="https://www.github.com/dabo02" class="fa fa-github"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="box-content">
                                        <h3 class="widget-title">Resume</h3>
                                        <div class="project-item">
                                            <a href="/static/Documents/Resume.pdf"><img src="/static/images/1.png" alt=""></a>
                                            <div class="project-hover">
                                                <h4>My Resume</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <div class="box-content">
                                        <h3 class="widget-title">My Technical Skills</h3>
                                        <ul class="progess-bars">
                                            <li>
                                                <span>HTML CSS</span>
                                            </li>
                                            <li>
                                                <span>Python</span>
                                            </li>
                                            <li>
                                                <span>Node.JS</span>
                                            </li>
                                            <li>
                                                <span>SIP</span>
                                            </li>
                                            <li>
                                                <span>Linux</span>
                                            </li>
                                            <li>
                                                <span>Control System Design</span>
                                            </li>
                                            <li>
                                                <span>BBB, Raspi, Arduino</span>
                                            </li>
                                            <li>
                                                <span>Javascript</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="menu-3" class="content gallery-section">
                            <div class="box-content">
                                <h3 class="widget-title">Past Projects</h3>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="/static/Documents/Capstone.pdf"><img src="/static/images/1.png" alt=""></a>
                                            <div class="project-hover">
                                                <h4>Capstone Project</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="https://github.com/dabo02/lazyScraper"><img src="/static/images/2.jpg" alt=""></a>
                                            <div class="project-hover">
                                                <h4>Web Scraper- pdf Downloaderr</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="https://github.com/dabo02/Portfolio"><img src="/static/images/2.jpg" alt=""></a>
                                            <div class="project-hover">
                                                <h4>This Site Project</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="https://github.com/dabo02/SimpleVideoChat"><img src="/static/images/2.jpg" alt=""></a>
                                            <div class="project-hover">
                                                <h4>Simple Video Chat</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="/video_chat"><img src="static/images/logo.png" alt=""></a>
                                            <div class="project-hover">
                                                <h4>Try the Simple Video Call</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="project-item">
                                            <a href="https://github.com/dabo02/sip-server"><img src="/static/images/2.jpg" alt=""></a>
                                            <div class="project-hover">
                                                <h4>Voip Push Sip Server</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="project-pages">-->
                                    <!--<ul>-->
                                        <!--<li><a href="#">1</a></li>-->
                                        <!--<li><a href="#">2</a></li>-->
                                        <!--<li><a href="#">3</a></li>-->
                                        <!--<li><a href="#">...</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div id="menu-4" class="content contact-section">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <div class="box-content">
                                        <h3 class="widget-title">Send Us A Message</h3>
                                        <form class="contact-form" method="post" action="{{ url_for('send_email') }}">
                                            <fieldset>
                                                <input name="name" type="text" class="name" id="name" placeholder="Name...">
                                            </fieldset> 
                                            <fieldset>
                                                <input name="email" type="email" class="email" id="email" placeholder="Email...">
                                            </fieldset> 
                                            <fieldset>
                                                <input name="subject" type="text" class="subject" id="subject" placeholder="Subject...">
                                            </fieldset>
                                            <fieldset>
                                                <textarea name="message" id="message" cols="30" rows="4" placeholder="Message.."></textarea>
                                            </fieldset>
                                            <fieldset>
                                                <input type="submit" class="button" id="button" value="Send Message">
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="box-content">
                                        <h3 class="widget-title">Stay In Touch</h3>
                                        <p>For further questions fillout this form so I can receive an email with your information and possibly coordinate an interview. You can also contact
                                            me directly at any of these emails: <a href="mailto:dabo021213@gmail.com">dabo021213@gmail.com</a> or <a href="mailto:dabo_02@live.com">dabo_02@live.com</a></p>
                                        <div class="about-social">
                                            <ul>
                                                <li><a href="https://www.linkedin.com/in/francisco-burgos-28804591/" class="fa fa-linkedin"></a></li>
                                                <li><a href="#" class="fa fa-github"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-md-3 hidden-sm">
                    
                    <nav id="nav" class="main-navigation hidden-xs hidden-sm">
                        <ul class="main-menu">
                            <li>
                                <a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a class="show-2 aboutbutton" href="#"><i class="fa fa-user"></i>About Me</a>
                            </li>
                            <li>
                                <a class="show-3 projectbutton" href="#"><i class="fa fa-microchip"></i>Projects</a>
                            </li>
                            <li>
                                <a class="show-5 contactbutton" href="#"><i class="fa fa-envelope"></i>Contact Me</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>

        <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
		<!-- templatemo 439 rectangle -->
    </body>
</html>